<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="card-panel deep-orange lighten-1">
  <div class="white-text text-darken-2">
<h1 class="center aligned">User List</h1>
</div>
</div>
<body>
  <div class="container">
    <ul id="users">

    </ul>


    <p>First Name</p>
    <input type='text' id='first_name'/>
    <br />
    <p>Last Name</p>
    <input type='text' id='last_name'/>
    <br />
    <div class="center aligned">
    <button class="btn waves-effect waves-light teal" id="button" type="submit" name="action">Add New
      <i class="material-icons right">send</i>
    </button>
  </div>

  </div>
</body>
